<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('main.user', username=post.author.username) }}">
                <img src="{{ post.author.avatar(70) }}" />
            </a>
        </td>
        <td>
            {% set user_link %}
                <span class="user_popup">
                    <a href="{{ url_for('main.user', username=post.author.username) }}">
                        {{ post.author.username }}
                    </a>
                </span>
            {% endset %}
            {{ user_link }} on {{moment(post.timestamp).fromNow() }}
            <br>
            <a href="{{ url_for('post.post_detail', post_id=post.id) }}">
                {{ post.title }}
            </a>
        </td>
    </tr>
</table>